@import '../../styles/variables.scss';

.laboratory {
  display: flex;
  flex-direction: column;
  gap: 96px;
  padding-top: 150px;
  margin-bottom: 96px;

  &Slogan {
    height: 560px;
    background-image: url('../../assets/images/bc_galary.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;

    &Content {
      width: 1400px;
      display: flex;
      align-items: end;
      gap: 285px;

      &Text {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 184px;

        & span {
          display: block;
          width: fit-content;
          padding: 12px 18px;

          &:first-child {
            color: $whiteText;
            background-color: $lilacTextButton;
            border-radius: 8px 8px 8px 0;
          }

          &:last-child {
            color: $lilacTextButton;
            background-color: $whiteText;
            border-radius: 0 0 8px 8px;
          }
        }
      }
    }
  }

  &Title {
    display: flex;
    justify-content: center;

    &Text {
      width: 1400px;
      font-style: italic;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      line-height: 36px;

      & span {
        color: $lilacTextButton;
      }
    }
  }

  &Description {
    height: 428px;
    background: linear-gradient(0deg, $bgGradStart 0%, $bgGradEnd 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;

    &Text {
      width: 1020px;
      display: flex;
      flex-direction: column;
      gap: 36px;
      font-size: 21px;
      line-height: 29px;

      & span {
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
      }

      & button {
        width: 249px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    &Img {
      width: 332px;
      height: 332px;
      background-image: url('../../assets/images/hamster_doing_tests.png');
      background-size: cover;
      background-position: center;
      border-radius: 8px;
    }
  }
}
