@import '../../styles/variables.scss';

.laboratory {
  display: flex;
  flex-direction: column;
  gap: 96px;
  padding-top: 150px;
  margin-bottom: 96px;

  &Slogan {
    height: 560px;
    background-image: url('../../assets/images/bc_galary.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;

    &Content {
      width: 1400px;
      display: flex;
      align-items: end;
      gap: 285px;

      &Text {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 184px;

        span {
          display: block;
          width: fit-content;
          padding: 12px 18px;

          &:first-child {
            color: $whiteText;
            background-color: $lilacTextButton;
            border-radius: 8px 8px 8px 0;
          }

          &:last-child {
            color: $lilacTextButton;
            background-color: $whiteText;
            border-radius: 0 0 8px 8px;
          }
        }
      }
    }
  }

  &Title {
    display: flex;
    justify-content: center;

    &Text {
      width: 1400px;
      font-style: italic;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      line-height: 34px;

      span {
        color: $lilacTextButton;
      }
    }
  }

  &Description {
    height: 428px;
    background: linear-gradient(0deg, $bgGradStart 0%, $bgGradEnd 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    &Content {
      width: 1400px;
      display: grid;
      grid-template-areas:
        'top1 top2'
        'middle1 top2'
        'bottom1 top2';
      row-gap: 36px;
      column-gap: 48px;

      span {
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        grid-area: top1;
      }

      &Text {
        font-size: 21px;
        line-height: 29px;
        grid-area: middle1;
      }

      button {
        width: 249px;
        display: flex;
        align-items: center;
        gap: 10px;
        grid-area: bottom1;
      }

      &Img {
        width: 332px;
        height: 332px;
        background-image: url('../../assets/images/hamster_doing_tests.png');
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        grid-area: top2;
      }
    }
  }

  @media (max-width: 1400px) {
    &Slogan {
      &Content {
        width: calc(100% - 36px);
        gap: 0;
        justify-content: space-between;
      }
    }

    &Title {
      &Text {
        width: calc(100% - 36px);
      }
    }

    &Description {
      &Content {
        width: calc(100% - 36px);

        &Text {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    &Slogan {
      height: 390px;

      &Content {
        &Text {
          font-size: 34px;
          margin-bottom: 130px;
        }

        img {
          width: 260px;
        }
      }
    }

    &Title {
      &Text {
        font-size: 21px;
        line-height: 29px;
      }
    }

    &Description {
      height: fit-content;
      padding: 36px 0;

      &Content {
        &Img {
          width: 324px;
          height: 100%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0;
    gap: 30px;

    &Slogan {
      height: 243px;
      margin-bottom: 45px;

      &Content {
        width: 100%;
        position: relative;

        &Text {
          width: fit-content;
          position: absolute;
          font-size: 24px;
          margin: 0 0 -45px -159px;
          left: 50%;

          span {
            padding: 8px 12px;
            line-height: 29px;

            &:last-child {
              background-color: $bgGradStart;
            }
          }
        }

        img {
          width: 170px;
          margin: 0 auto;
        }
      }
    }

    &Title {
      &Text {
        font-size: 18px;
        line-height: 25px;
      }
    }

    &Description {
      &Content {
        span {
          font-size: 28px;
          line-height: 34px;
        }

        button {
          width: 206px;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  @media (max-width: 650px) {
    &Description {
      &Content {
        display: flex;
        flex-direction: column;
        gap: 24px;

        &Img {
          width: 100%;
          height: 306px;
          background-size: cover;
          background-position: top;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
