@import 'normalize.css';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-bottom: 0;
}

button {
  padding: 12px 18px;
  border-radius: 8px;
  background-color: $lilacTextButton;
  border: none;
  color: $whiteText;
  font-size: 21px;
  line-height: 29px;
  cursor: pointer;
  transition: 1s;

  &:hover {
    background-color: $hoverButton;
    transition: 1s;
  }
}
