$blackText: #000000;
$grayDarkText: #4c4c4c;
$grayText: #a0a0a0;
$whiteText: #ffffff;
$activeSection: #e9eaf9;
$lilacTextButton: #737be1;
$bgGradStart: #e9eaf9;
$bgGradEnd: #f5f5ff;
$hoverButton: #4f58c9;
$bgCard: #f5f6ff;
$hoverNav: #4f58c9;
$borderInput: #c6caff;
$emptyField: #e17373;
