@import '../../styles/variables.scss';

.header {
  width: 100vw;
  background-color: $whiteText;
  position: fixed;

  &Content {
    width: 1400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    &Logo {
      width: 397px;
      display: flex;
      gap: 24px;

      span {
        font-size: 14px;
      }
    }

    &Nav {
      display: flex;
      gap: 24px;

      &Href,
      &HrefActive {
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: $blackText;
        padding: 8px 24px;
        transition: 0.1s;

        &:hover,
        &Active {
          background-color: $activeSection;
          border-radius: 4px;
          transition: 0.1s;
          color: $hoverNav;
        }
      }
    }

    &Phone {
      display: grid;
      grid-template-areas: 'img span' 'img span';

      img {
        grid-area: img;
      }

      span {
        grid-area: span;

        &:nth-child(2) {
          font-size: 18px;
          font-weight: 600;
        }

        &:nth-child(3) {
          font-size: 14px;
          color: $grayText;
        }
      }
    }
  }

  @media (max-width: 1400px) {
    &Content {
      width: calc(100% - 36px);

      &Nav {
        gap: 0;
        justify-content: center;
        &Href,
        &HrefActive {
          padding: 8px 18px;
          font-size: 14px;
        }
      }

      &Phone span:nth-child(2) {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 1024px) {
    &Content {
      &Logo {
        display: block;
        width: fit-content;

        span {
          display: block;
          width: fit-content;
          font-size: 12px;
        }
      }

      &Nav {
        &Href,
        &HrefActive {
          padding: 8px 14px;
          font-size: 12px;
        }
      }

      &Phone {
        span:nth-child(2),
        span:nth-child(3) {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    position: static;

    &Content {
      width: calc(100% - 36px);
      height: 105px;
      justify-content: space-between;

      &Nav {
        display: none;
      }
    }
  }

  @media (max-width: 460px) {
    &Content {
      &Phone span {
        display: none;
      }
    }
  }
}
