@import '../../styles/variables.scss';

.footer {
  height: 150px;
  background-color: $hoverButton;
  display: flex;
  justify-content: center;
  align-items: center;

  &Text {
    width: 1400px;
    display: flex;
    justify-content: space-between;

    & span {
      font-size: 16px;
      line-height: 21px;
      color: $whiteText;
    }
  }

  @media (max-width: 1400px) {
    &Text {
      width: calc(100% - 36px);
    }
  }

  @media (max-width: 768px) {
    height: fit-content;
    &Text {
      flex-direction: column-reverse;
      align-items: center;
      gap: 18px;
      margin: 24px 0;

      span {
        text-align: center;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}
