@import '../../styles/variables.scss';

.form,
.formSend {
  width: 1400px;
  margin: 0 auto 96px;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, $bgGradStart 0%, $bgGradEnd 100%);
  border-radius: 8px;
}

.form {
  padding: 48px 0;
  flex-direction: column;
  gap: 48px;

  & span {
    display: block;

    &:nth-child(1) {
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
    }

    &:nth-child(2) {
      width: 1020px;
      font-size: 21px;
      line-height: 29px;
      text-align: center;
    }
  }

  &Input {
    display: flex;
    gap: 19px;

    &Active,
    &Empty {
      width: 245px;
      padding: 12px 16px;
      border-radius: 8px;
      font-size: 21px;

      &:focus {
        outline: none;
        border: 2px solid $lilacTextButton;
      }
    }

    &Active {
      border: 2px solid $borderInput;
    }

    &Empty {
      border: 2px solid $emptyField;
    }
  }

  & button {
    width: 188px;
    display: flex;
    gap: 10px;
  }
}

.formSend {
  height: 453px;
  justify-content: center;
  align-items: center;

  &Message {
    width: 686px;
    display: flex;
    gap: 24px;
    align-items: center;

    & span {
      font-size: 23px;
      line-height: 34px;
      font-weight: 600;
      color: $lilacTextButton;
    }
  }
}
